body {
	font-family: 'Cutive Mono', monospace;
	overflow-x: hidden;
}
a {
	cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'VT323', monospace;
}
h1 {
	font-weight: 300;
}
h2 {
	font-size: 1.8rem;
    margin-bottom: 0;
}
h3 {
	font-weight: 300;
	font-size: 1.469rem;
	margin-top: 1.618rem;
}
.button {
	border: 1px solid #212121;
	color: #212121;
	font-size: 1rem;
	margin: 1rem .618rem;
	margin-left: 1rem;
	background-color: transparent;
}
.button:hover {
	background-color: #F48FB1;
	color: #212121;
}
/*sections*/
section.section {
	padding: 2rem;
    box-shadow: 0 5px 13px rgba(0,0,0,.15);
    display: table;
    width: 100%;
}
section.section .inner {
	display: table-cell;
	vertical-align: middle;
}
section.section .lead-in-text {
	padding-top: 1.618rem;
}
.pink-background {
	background-color: #fce4ec;
}
/* header */
section#header {
	z-index: 3;
	position: fixed;
    background-color: #F8BBD0;
    width: 100%;
    padding: 1rem;
    height: 77px;
    box-shadow: 0 5px 13px rgba(0,0,0,.0618);
}
section#header img {
	height: 35px;
    margin-right: .618rem;
}
section#header .button {
	margin: 0 0 0 1rem;
}

section#header .header-title {
	line-height: 45px;
	font-size: 1.382rem;
	font-family: 'VT323', monospace;
	font-size: 1.618rem;
}
/* hero */
section#hero {
	background-image:linear-gradient(61.8deg, #F8BBD0, #F48FB1);
	color: #212121;
	/* padding-top: 77px; */
	min-height: 38.2vh
}
section#hero .geometric-shape img {
	height: 188px;
	margin-top: 2rem;
}

section#hero .hero-title {
	/* margin-top: -1rem; */
}
/*bmi calculator*/
section#services {
	min-height: 61.8vh
}

#bmi-calculator {
	max-width: 30%;
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: 641px){
	#bmi-calculator {
		max-width: 80%;
	}
}

#bmi-calculator button {
	margin-left: auto;
	margin-right: auto;
}
#bmi-calculator #bmi {
	margin-left: auto;
	margin-right: auto;
}

/*footer*/
section#homepage-footer {
	padding: 1rem;
	color: #212121;
	background-color: #fefefe;
	margin-top: -56px;
	position: sticky;
	box-shadow: none;
}


/* mobile */
@media (max-width: 1024px){
	h3 {
		font-size: 1.3rem;
	}
@media (max-width: 641px){
	h2 {
		font-size: 1.618rem;
	}
	section#hero .hero-title {
		font-size: 2.382rem;
	}
}